In [1]:
# Kaggle - https://www.kaggle.com/c/competitive-data-science-predict-future-sales/data?select=item_categories.csv

In [2]:
# Analyse the datasets

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
# df_items = pd.read_csv("items.csv")
# df_items[2061:]

In [5]:
# df_item_categories = pd.read_csv("item_categories.csv")
# df_item_categories

In [6]:
df_sales_train = pd.read_csv("sales_train.csv")
df_sales_train

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day
0,02.01.2013,0,59,22154,999.00,1.0
1,03.01.2013,0,25,2552,899.00,1.0
2,05.01.2013,0,25,2552,899.00,-1.0
3,06.01.2013,0,25,2554,1709.05,1.0
4,15.01.2013,0,25,2555,1099.00,1.0
...,...,...,...,...,...,...
2935844,10.10.2015,33,25,7409,299.00,1.0
2935845,09.10.2015,33,25,7460,299.00,1.0
2935846,14.10.2015,33,25,7459,349.00,1.0
2935847,22.10.2015,33,25,7440,299.00,1.0
2935848,03.10.2015,33,25,7460,299.00,1.0

In [7]:
# df_shops = pd.read_csv("shops.csv")
# df_shops

In [8]:
# It seems df_sales_train is the most useful dataframe
# df_sales_train

In [9]:
# We can remove the date and rename the date_block_num to monthId
df_sales_train = df_sales_train.drop("date", axis=1)

In [10]:
# df_sales_train.item_id.sort_values()

In [11]:
# Trying a simple solution

In [12]:
# Average sale of an item in each shop for a month

In [13]:
df_train = df_sales_train.groupby(["shop_id", "date_block_num", "item_id"])["item_cnt_day"].sum().reset_index()

In [14]:
# df_train

In [15]:
price_map = dict()
for index, row in df_sales_train.iterrows():
    price_map[row['item_id']] = row['item_price']
price_map

{22154.0: 299.0,
 2552.0: 949.0,
 2554.0: 1709.05,
 2555.0: 1149.0,
 2564.0: 249.0,
 2565.0: 549.0,
 2572.0: 299.0,
 2573.0: 249.0,
 2574.0: 449.0,
 2593.0: 148.0,
 2604.0: 299.0,
 2607.0: 299.0,
 2609.0: 1099.0,
 2548.0: 1799.0,
 2611.0: 299.0,
 2546.0: 299.0,
 2515.0: 1999.0,
 2705.0: 1799.0,
 2715.0: 349.0,
 2716.0: 149.0,
 2719.0: 399.0,
 2720.0: 398.0,
 2473.0: 899.0,
 2480.0: 58.0,
 2731.0: 599.0,
 2746.0: 93.0,
 2748.0: 799.0,
 2522.0: 1999.0,
 2614.0: 299.0,
 2798.0: 149.0,
 2833.0: 98.0,
 2835.0: 799.5,
 2836.0: 1298.0,
 2844.0: 449.5,
 2845.0: 599.0,
 2847.0: 348.0,
 2848.0: 58.0,
 2854.0: 99.0,
 2857.0: 999.0,
 2920.0: 498.0,
 2795.0: 949.0,
 2808.0: 1499.0,
 2628.0: 299.0,
 2629.0: 299.0,
 2631.0: 299.0,
 2640.0: 249.0,
 2822.0: 148.0,
 2704.0: 1799.0,
 2703.0: 248.0,
 2088.0: 1749.0,
 2090.0: 549.0,
 2092.0: 599.0,
 2100.0: 349.0,
 2102.0: 349.0,
 2103.0: 248.0,
 2106.0: 549.0,
 2108.0: 199.0,
 2111.0: 58.0,
 2117.0: 279.0,
 2121.0: 248.0,
 2122.0: 1499.0,
 2123.0: 299.0,
 2149.0: 399.0,
 2151.0: 874.0,
 2160.0: 899.0,
 2164.0: 2799.0,
 2389.0: 248.0,
 2179.0: 98.0,
 2186.0: 1198.0,
 2340.0: 199.0,
 2189.0: 149.0,
 2281.0: 999.0,
 2321.0: 98.0,
 2333.0: 549.0,
 2252.0: 399.0,
 2253.0: 1399.0,
 2254.0: 1399.0,
 2255.0: 28.0,
 2256.0: 28.0,
 2257.0: 28.0,
 2258.0: 28.0,
 2199.0: 1449.0,
 2439.0: 299.0,
 2441.0: 398.0,
 2461.0: 499.0,
 2678.0: 999.0,
 2462.0: 58.0,
 2680.0: 899.0,
 2682.0: 1499.0,
 2437.0: 283.0,
 2202.0: 1099.0,
 2209.0: 1499.0,
 2220.0: 5690.0,
 2221.0: 2490.0,
 2412.0: 5290.0,
 2222.0: 98.0,
 2415.0: 299.0,
 2416.0: 699.0,
 2417.0: 349.0,
 2225.0: 299.0,
 2235.0: 399.0,
 2924.0: 58.0,
 3168.0: 299.0,
 3172.0: 58.0,
 3174.0: 299.0,
 3175.0: 299.0,
 3253.0: 899.0,
 3268.0: 349.0,
 3269.0: 299.0,
 3394.0: 1299.0,
 3402.0: 549.0,
 3417.0: 245.54,
 3432.0: 449.0,
 3164.0: 299.0,
 3223.0: 398.0,
 3112.0: 349.0,
 3128.0: 749.0,
 3203.0: 28.0,
 3204.0: 99.0,
 3209.0: 149.0,
 3210.0: 149.0,
 3214.0: 98.0,
 3130.0: 299.0,
 3141.0: 1180.0,
 3147.0: 1850.0,
 3146.0: 2590.0,
 3148.0: 1850.0,
 3158.0: 1290.0,
 3429.0: 398.0,
 3437.0: 1699.0,
 3438.0: 2239.0,
 3467.0: 149.0,
 3468.0: 58.0,
 3286.0: 349.0,
 3428.0: 2799.0,
 3433.0: 999.0,
 3434.0: 1499.0,
 3427.0: 499.0,
 3193.0: 28.0,
 2973.0: 1832.37,
 2974.0: 1398.0,
 2649.0: 141.0,
 2650.0: 849.0,
 2972.0: 198.0,
 2929.0: 99.0,
 2931.0: 99.0,
 2934.0: 444.0,
 2939.0: 444.0,
 2946.0: 449.0,
 2953.0: 398.0,
 3017.0: 198.0,
 2956.0: 398.0,
 2960.0: 224.0,
 3186.0: 279.3,
 3187.0: 1299.0,
 3095.0: 299.0,
 3098.0: 1299.0,
 3093.0: 199.0,
 3036.0: 198.0,
 3045.0: 1249.0,
 3046.0: 398.0,
 3050.0: 28.0,
 3056.0: 899.0,
 3057.0: 698.0,
 3076.0: 1199.0,
 3077.0: 1199.0,
 3080.0: 1799.0,
 3081.0: 2299.0,
 2662.0: 148.0,
 2319.0: 298.0,
 2309.0: 999.0,
 1359.0: 398.0,
 1261.0: 399.0,
 1362.0: 58.0,
 1266.0: 299.0,
 1268.0: 198.0,
 1270.0: 299.0,
 1375.0: 298.0,
 1409.0: 248.0,
 1410.0: 248.0,
 1418.0: 349.0,
 1420.0: 349.0,
 1423.0: 599.0,
 1438.0: 99.0,
 1291.0: 299.0,
 1292.0: 1299.0,
 1300.0: 999.0,
 1249.0: 299.0,
 1302.0: 299.0,
 1205.0: 1299.0,
 1206.0: 849.0,
 1217.0: 299.0,
 1225.0: 899.0,
 1228.0: 1849.0,
 1243.0: 28.0,
 1247.0: 299.0,
 1315.0: 449.0,
 1471.0: 573.41,
 1472.0: 1399.0,
 1475.0: 599.0,
 1481.0: 1599.0,
 1318.0: 299.0,
 1326.0: 299.0,
 1332.0: 499.0,
 1333.0: 1998.0,
 1463.0: 398.0,
 1467.0: 1199.0,
 1470.0: 298.0,
 1203.0: 649.0,
 1202.0: 1999.0,
 1195.0: 299.0,
 1187.0: 1490.0,
 1000.0: 28.0,
 1002.0: 58.0,
 1003.0: 69.0,
 1004.0: 58.0,
 1005.0: 58.0,
 1006.0: 399.0,
 1008.0: 299.0,
 1013.0: 299.0,
 1017.0: 198.0,
 1018.0: 148.0,
 1021.0: 449.0,
 1022.0: 248.0,
 999.0: 58.0,
 998.0: 69.0,
 785.0: 349.0,
 791.0: 600.0,
 804.0: 240.0,
 810.0: 199.0,
 829.0: 3300.0,
 832.0: 299.0,
 839.0: 3300.0,
 944.0: 99.0,
 965.0: 199.0,
 970.0: 349.0,
 977.0: 79.0,
 987.0: 99.0,
 990.0: 58.0,
 993.0: 58.0,
 1023.0: 148.0,
 1102.0: 299.0,
 1103.0: 249.0,
 1105.0: 58.0,
 1110.0: 49.0,
 1113.0: 149.0,
 1118.0: 28.0,
 1119.0: 399.0,
 1122.0: 299.0,
 1126.0: 299.0,
 1131.0: 449.0,
 1132.0: 349.0,
 1142.0: 2499.0,
 1144.0: 349.0,
 1151.0: 1790.0,
 1153.0: 3207.0,
 1166.0: 3870.0,
 1167.0: 1100.0,
 1101.0: 299.0,
 1025.0: 248.0,
 1027.0: 28.0,
 1031.0: 28.0,
 1032.0: 299.0,
 1034.0: 58.0,
 1036.0: 28.0,
 1047.0: 398.0,
 1048.0: 398.0,
 1051.0: 248.0,
 1054.0: 398.0,
 1070.0: 98.0,
 1081.0: 1979.0,
 1082.0: 1979.0,
 1097.0: 58.0,
 1931.0: 28.0,
 1953.0: 1498.0,
 1956.0: 248.0,
 1697.0: 1299.0,
 1701.0: 1199.0,
 1729.0: 299.0,
 1731.0: 299.0,
 1740.0: 349.0,
 1741.0: 349.0,
 1750.0: 549.0,
 1751.0: 299.0,
 1987.0: 599.0,
 1676.0: 299.0,
 1924.0: 249.0,
 1916.0: 249.0,
 1918.0: 249.0,
 1920.0: 249.0,
 1921.0: 249.0,
 1922.0: 154.0,
 1671.0: 299.0,
 1985.0: 1699.0,
 1986.0: 899.0,
 1992.0: 499.5,
 2307.0: 1299.0,
 2308.0: 299.0,
 1763.0: 249.0,
 2058.0: 29.0,
 1776.0: 299.0,
 1777.0: 299.0,
 2068.0: 98.0,
 2067.0: 298.0,
 2302.0: 1198.0,
 2330.0: 256.0,
 2304.0: 1198.0,
 2247.0: 398.0,
 1913.0: 249.0,
 1782.0: 449.0,
 1624.0: 198.0,
 1790.0: 1399.0,
 1800.0: 148.0,
 1801.0: 998.0,
 1802.0: 749.0,
 1830.0: 599.0,
 1611.0: 449.0,
 1342.0: 98.0,
 1600.0: 58.0,
 1482.0: 549.0,
 1523.0: 799.0,
 1524.0: 1998.0,
 1525.0: 389.0,
 1528.0: 389.0,
 1593.0: 1799.0,
 1597.0: 469.0,
 1598.0: 1199.0,
 1832.0: 698.0,
 1833.0: 349.0,
 1897.0: 249.0,
 1898.0: 249.0,
 1901.0: 249.0,
 1904.0: 249.0,
 1905.0: 249.0,
 1908.0: 249.0,
 1911.0: 249.0,
 1912.0: 249.0,
 1896.0: 28.0,
 1894.0: 298.0,
 1889.0: 198.0,
 1829.0: 398.0,
 1835.0: 799.0,
 1836.0: 1198.0,
 1837.0: 1198.0,
 1869.0: 799.0,
 1871.0: 299.0,
 1630.0: 1748.0,
 1641.0: 849.0,
 1646.0: 749.0,
 1651.0: 1349.0,
 1661.0: 399.0,
 5256.0: 498.0,
 5260.0: 299.0,
 5261.0: 698.0,
 5263.0: 188.0,
 5275.0: 1199.0,
 5272.0: 299.0,
 5224.0: 198.0,
 4988.0: 1299.0,
 4714.0: 749.0,
 4715.0: 299.0,
 4968.0: 28.0,
 5092.0: 599.0,
 5095.0: 549.0,
 5101.0: 499.0,
 5115.0: 1049.0,
 5125.0: 1199.0,
 5126.0: 260.0,
 5128.0: 499.0,
 5145.0: 599.0,
 5155.0: 399.0,
 5168.0: 399.0,
 5179.0: 349.0,
 5195.0: 449.0,
 5197.0: 449.0,
 5198.0: 173.0,
 4975.0: 2099.0,
 4982.0: 299.0,
 5313.0: 449.0,
 5324.0: 299.0,
 5406.0: 220.0,
 5328.0: 299.0,
 5334.0: 279.0,
 5341.0: 1849.0,
 5343.0: 299.0,
 5344.0: 299.0,
 5346.0: 299.0,
 5348.0: 299.0,
 5306.0: 299.0,
 5384.0: 3490.0,
 5378.0: 2890.0,
 5273.0: 799.0,
 5274.0: 799.0,
 5031.0: 248.0,
 5032.0: 298.0,
 5033.0: 299.0,
 4713.0: 1499.0,
 5034.0: 1198.7,
 5287.0: 1099.0,
 5051.0: 349.0,
 5288.0: 1199.0,
 5060.0: 349.0,
 5070.0: 1390.0,
 5301.0: 449.0,
 5364.0: 3090.0,
 4712.0: 299.0,
 4832.0: 498.0,
 4611.0: 1399.0,
 4612.0: 1098.0,
 4614.0: 349.0,
 4617.0: 248.0,
 4620.0: 399.0,
 4625.0: 749.0,
 4627.0: 299.0,
 4861.0: 2498.0,
 4632.0: 199.0,
 4652.0: 349.0,
 4657.0: 549.0,
 4884.0: 299.0,
 4680.0: 349.0,
 4885.0: 1799.0,
 4886.0: 1799.0,
 4831.0: 999.0,
 4792.0: 1198.0,
 4793.0: 998.0,
 4586.0: 1949.0,
 4800.0: 148.0,
 4802.0: 399.0,
 4809.0: 299.0,
 4810.0: 443.94,
 4811.0: 799.0,
 4814.0: 899.0,
 4812.0: 599.0,
 4598.0: 299.0,
 5349.0: 198.0,
 4910.0: 449.0,
 4920.0: 1372.0,
 4922.0: 999.0,
 4688.0: 1499.0,
 4691.0: 699.0,
 4960.0: 899.0,
 4694.0: 299.0,
 4697.0: 249.0,
 4698.0: 249.0,
 4699.0: 249.0,
 4700.0: 249.0,
 4701.0: 299.0,
 4702.0: 249.0,
 4703.0: 299.0,
 4907.0: 1999.0,
 4890.0: 298.0,
 4906.0: 1999.0,
 4791.0: 799.0,
 5350.0: 299.0,
 5416.0: 98.0,
 5627.0: 1998.0,
 5629.0: 2198.0,
 5632.0: 1798.0,
 5635.0: 1398.0,
 5641.0: 2098.0,
 5643.0: 3290.0,
 5651.0: 698.0,
 5649.0: 398.0,
 5652.0: 2490.0,
 5941.0: 299.0,
 5945.0: 349.0,
 5946.0: 349.0,
 5623.0: 298.0,
 5613.0: 5481.0,
 5576.0: 1398.0,
 5578.0: 698.0,
 5581.0: 499.0,
 5582.0: 298.0,
 5583.0: 699.0,
 5591.0: 1590.0,
 5592.0: 2198.0,
 5594.0: 398.0,
 5595.0: 198.0,
 5596.0: 58.0,
 5599.0: 398.0,
 5601.0: 599.0,
 5604.0: 236.0,
 5587.0: 126.0,
 5588.0: 28.0,
 5610.0: 1398.0,
 5612.0: 1998.0,
 5955.0: 1049.0,
 5970.0: 749.0,
 6093.0: 199.0,
 6095.0: 298.0,
 6019.0: 299.0,
 6027.0: 299.0,
 6033.0: 2999.0,
 6036.0: 1499.0,
 6122.0: 498.0,
 6123.0: 1499.0,
 6131.0: 236.0,
 6139.0: 1499.0,
 6143.0: 899.0,
 6144.0: 599.0,
 6045.0: 349.0,
 6080.0: 1999.0,
 6078.0: 899.0,
 5976.0: 98.0,
 5994.0: 236.0,
 5992.0: 498.0,
 6000.0: 299.0,
 5575.0: 298.0,
 6004.0: 349.0,
 6009.0: 663.0,
 6072.0: 899.0,
 6076.0: 448.5,
 6077.0: 734.0,
 5574.0: 148.0,
 5501.0: 3399.0,
 5506.0: 2799.0,
 5508.0: 148.0,
 5786.0: 98.0,
 5787.0: 98.0,
 5788.0: 98.0,
 5790.0: 299.0,
 5791.0: 98.0,
 5792.0: 98.0,
 5793.0: 148.0,
 5796.0: 299.0,
 5800.0: 299.0,
 5802.0: 28.0,
 5806.0: 58.0,
 5808.0: 299.0,
 5810.0: 299.0,
 5811.0: 98.0,
 5497.0: 3399.0,
 5487.0: 849.0,
 5417.0: 2750.0,
 5418.0: 1815.0,
 5427.0: 4620.0,
 5712.0: 1590.0,
 5735.0: 449.0,
 5438.0: 248.0,
 5443.0: 299.0,
 5446.0: 299.0,
 5448.0: 148.0,
 5820.0: 3199.0,
 5452.0: 2170.0,
 5454.0: 299.0,
 5756.0: 590.0,
 5457.0: 299.0,
 5459.0: 349.0,
 5460.0: 1099.0,
 5464.0: 849.0,
 5475.0: 2449.0,
 5753.0: 3490.0,
 5821.0: 1099.0,
 5822.0: 1149.0,
 5549.0: 1549.0,
 5922.0: 248.0,
 5916.0: 199.0,
 5918.0: 1499.0,
 5571.0: 398.0,
 5572.0: 1790.0,
 5573.0: 248.0,
 5895.0: 998.0,
 5894.0: 198.0,
 5823.0: 2799.0,
 5525.0: 28.0,
 5848.0: 99.0,
 5862.0: 698.0,
 5865.0: 998.0,
 5867.0: 1598.0,
 5869.0: 1499.0,
 5870.0: 1499.0,
 5871.0: 398.0,
 5537.0: 899.0,
 5538.0: 299.0,
 5542.0: 749.0,
 5892.0: 999.0,
 4790.0: 245.0,
 3702.0: 449.0,
 3705.0: 1499.0,
 3718.0: 248.0,
 3719.0: 799.0,
 3743.0: 498.0,
 3612.0: 299.0,
 3578.0: 299.0,
 3580.0: 449.0,
 3676.0: 1038.6,
 3679.0: 149.0,
 3582.0: 28.0,
 3591.0: 498.0,
 3593.0: 398.0,
 3603.0: 28.0,
 3686.0: 1199.0,
 3693.0: 599.0,
 3698.0: 412.43,
 3610.0: 299.0,
 3747.0: 699.0,
 3851.0: 1199.0,
 3799.0: 899.0,
 3801.0: 299.0,
 3810.0: 279.0,
 3811.0: 198.0,
 3869.0: 1199.0,
 3870.0: 199.0,
 3776.0: 4849.0,
 3617.0: 299.0,
 3618.0: 299.0,
 3619.0: 449.0,
 3620.0: 299.0,
 3622.0: 299.0,
 3624.0: 299.0,
 3577.0: 98.0,
 3650.0: 498.0,
 3651.0: 229.0,
 3652.0: 229.0,
 3653.0: 1399.0,
 3834.0: 962.84,
 3773.0: 299.0,
 3647.0: 148.0,
 3576.0: 299.0,
 3569.0: 198.0,
 3325.0: 148.0,
 3326.0: 99.0,
 3327.0: 149.0,
 3328.0: 698.0,
 3320.0: 999.0,
 3289.0: 1049.0,
 3292.0: 279.2,
 3294.0: 248.0,
 3295.0: 198.0,
 3296.0: 349.0,
 3470.0: 349.0,
 3298.0: 199.0,
 3307.0: 199.0,
 3317.0: 398.0,
 3367.0: 799.0,
 3476.0: 799.0,
 3509.0: 148.0,
 3528.0: 1690.0,
 3379.0: 299.0,
 3533.0: 799.0,
 3384.0: 299.0,
 3540.0: 28.0,
 3541.0: 399.0,
 3554.0: 1999.0,
 3556.0: 1299.0,
 3562.0: 131.0,
 3366.0: 399.5,
 3321.0: 698.0,
 3322.0: 799.0,
 3323.0: 1199.0,
 3362.0: 28.0,
 4331.0: 1799.0,
 4332.0: 248.0,
 4464.0: 599.0,
 4366.0: 449.0,
 4370.0: 298.0,
 4371.0: 498.0,
 4372.0: 1699.0,
 4373.0: 1298.0,
 4330.0: 663.0,
 4462.0: 649.0,
 4093.0: 1549.0,
 4095.0: 248.0,
 4100.0: 449.0,
 4105.0: 148.0,
 4110.0: 349.0,
 4112.0: 649.0,
 4117.0: 2299.0,
 4124.0: 249.0,
 4277.0: 998.0,
 4282.0: 336.0,
 4287.0: 199.0,
 4300.0: 449.0,
 4458.0: 2990.0,
 4307.0: 1349.0,
 4320.0: 549.0,
 4321.0: 549.0,
 4325.0: 349.0,
 4375.0: 449.0,
 4384.0: 13499.0,
 4410.0: 299.0,
 4723.0: 148.0,
 4724.0: 698.0,
 4548.0: 2090.0,
 4551.0: 299.0,
 4565.0: 299.0,
 4773.0: 399.0,
 4779.0: 299.0,
 4780.0: 698.0,
 4781.0: 398.0,
 4518.0: 599.0,
 4511.0: 1499.0,
 4420.0: 299.0,
 4421.0: 299.0,
 4474.0: 899.0,
 4475.0: 398.0,
 4481.0: 899.0,
 4476.0: 1499.0,
 4482.0: 899.0,
 4484.0: 599.0,
 4487.0: 248.0,
 4443.0: 299.0,
 4445.0: 299.0,
 4446.0: 299.0,
 4453.0: 58.0,
 4506.0: 299.0,
 4510.0: 299.0,
 4092.0: 349.0,
 3960.0: 299.0,
 3965.0: 299.0,
 3974.0: 2299.0,
 3976.0: 299.0,
 3980.0: 299.0,
 4029.0: 58.0,
 4035.0: 899.0,
 4036.0: 464.4,
 4037.0: 249.0,
 4038.0: 249.0,
 4039.0: 249.0,
 4041.0: 249.0,
 3996.0: 599.0,
 4006.0: 299.0,
 4015.0: 299.0,
 4016.0: 1499.0,
 4068.0: 198.0,
 4127.0: 799.0,
 4147.0: 2190.0,
 3954.0: 2249.0,
 3953.0: 299.0,
 3947.0: 449.0,
 3871.0: 999.0,
 4161.0: 707.0,
 3876.0: 348.0,
 3878.0: 1199.0,
 3885.0: 899.0,
 3826.0: 299.0,
 3897.0: 399.0,
 3902.0: 399.0,
 3903.0: 299.0,
 3942.0: 199.0,
 4248.0: 1999.0,
 4249.0: 1599.0,
 4251.0: 249.0,
 4252.0: 398.4,
 4265.0: 58.0,
 4244.0: 1299.0,
 4240.0: 1299.0,
 4163.0: 1190.0,
 4164.0: 949.0,
 4211.0: 1490.0,
 4069.0: 98.0,
 4075.0: 299.0,
 4227.0: 899.0,
 4229.0: 498.0,
 715.0: 149.0,
 4485.0: 599.0,
 4573.0: 349.0,
 4807.0: 399.0,
 4823.0: 999.0,
 4610.0: 349.0,
 4293.0: 299.0,
 4376.0: 498.0,
 4422.0: 899.0,
 5068.0: 2190.0,
 5363.0: 198.0,
 5371.0: 7590.0,
 4887.0: 698.0,
 4901.0: 2399.0,
 4923.0: 999.0,
 5228.0: 299.0,
 5262.0: 399.5,
 4696.0: 249.0,
 5414.0: 1199.0,
 3615.0: 148.0,
 3661.0: 349.0,
 3665.0: 99.0,
 3369.0: 399.0,
 3527.0: 28.0,
 3822.0: 499.0,
 3890.0: 28.0,
 3941.0: 198.0,
 4013.0: 299.0,
 4128.0: 599.0,
 4148.0: 1490.0,
 5449.0: 198.0,
 5748.0: 36990.0,
 7169.0: 1699.0,
 7171.0: 1699.0,
 7175.0: 199.0,
 7218.0: 1599.0,
 7220.0: 1299.0,
 7221.0: 899.0,
 7299.0: 399.0,
 7333.0: 249.0,
 7343.0: 299.0,
 7356.0: 249.0,
 7391.0: 299.0,
 7396.0: 299.0,
 7445.0: 199.0,
 7459.0: 349.0,
 7471.0: 449.0,
 7511.0: 299.0,
 7512.0: 299.0,
 7524.0: 299.0,
 7738.0: 58.0,
 7737.0: 98.0,
 7131.0: 549.0,
 7130.0: 399.0,
 6740.0: 999.0,
 6351.0: 449.0,
 6354.0: 549.0,
 6751.0: 148.0,
 6777.0: 98.0,
 6904.0: 58.0,
 6916.0: 1499.0,
 6917.0: 749.0,
 6953.0: 98.0,
 6857.0: 449.0,
 7066.0: 298.0,
 7078.0: 298.0,
 7118.0: 298.0,
 7770.0: 1099.0,
 7814.0: 2863.0,
 7938.0: 1762.67,
 7945.0: 10490.0,
 7977.0: 498.0,
 7978.0: 1498.0,
 7979.0: 498.0,
 7907.0: 1398.0,
 7912.0: 248.0,
 7916.0: 948.5,
 8032.0: 299.0,
 8092.0: 149.0,
 8093.0: 949.0,
 8096.0: 199.0,
 8140.0: 199.0,
 8147.0: 28.0,
 8155.0: 399.0,
 7895.0: 1090.0,
 7894.0: 2290.0,
 7815.0: 5290.0,
 7819.0: 8190.0,
 7820.0: 1591.0,
 7709.0: 149.0,
 7849.0: 359.0,
 7860.0: 399.0,
 7856.0: 1199.0,
 7735.0: 1198.0,
 7882.0: 298.0,
 7893.0: 2990.0,
 7670.0: 399.0,
 6727.0: 1399.0,
 6721.0: 1198.0,
 6717.0: 299.0,
 5580.0: 98.0,
 5603.0: 298.0,
 5605.0: 699.0,
 5491.0: 299.0,
 5801.0: 58.0,
 5778.0: 98.0,
 5527.0: 14.0,
 5553.0: 399.0,
 5554.0: 970.0,
 6109.0: 499.0,
 6490.0: 249.5,
 6508.0: 599.0,
 6286.0: 299.0,
 6289.0: 299.0,
 6574.0: 299.0,
 6588.0: 299.0,
 6594.0: 299.0,
 6595.0: 299.0,
 6622.0: 199.0,
 6303.0: 199.0,
 6635.0: 148.0,
 6651.0: 1699.0,
 6653.0: 1699.0,
 6660.0: 398.0,
 6665.0: 4498.0,
 6681.0: 1799.0,
 6699.0: 368.0,
 6480.0: 499.0,
 6495.0: 249.5,
 6147.0: 148.0,
 6185.0: 499.0,
 6406.0: 98.0,
 6268.0: 799.0,
 6453.0: 1328.0,
 6466.0: 699.0,
 6467.0: 98.0,
 6475.0: 186.97,
 1273.0: 99.0,
 1301.0: 299.0,
 1311.0: 249.0,
 1317.0: 299.0,
 1321.0: 299.0,
 1357.0: 1015.0,
 1356.0: 1015.0,
 1227.0: 249.0,
 677.0: 149.0,
 687.0: 600.0,
 700.0: 199.0,
 795.0: 3300.0,
 816.0: 99.0,
 835.0: 4600.0,
 963.0: 28.0,
 971.0: 349.0,
 975.0: 349.0,
 1112.0: 499.0,
 1226.0: 299.0,
 1628.0: 2498.0,
 1653.0: 5248.0,
 1915.0: 249.0,
 1928.0: 998.0,
 1530.0: 58.0,
 1607.0: 3590.0,
 657.0: 199.0,
 1826.0: 28.0,
 651.0: 149.0,
 642.0: 149.0,
 21567.0: 229.0,
 21570.0: 58.0,
 21771.0: 899.0,
 21619.0: 499.0,
 21785.0: 98.0,
 21732.0: 89.0,
 21747.0: 332.0,
 21759.0: 249.0,
 21766.0: 98.0,
 21982.0: 249.0,
 21983.0: 249.0,
 21987.0: 398.0,
 21861.0: 149.0,
 21865.0: 49.0,
 21871.0: 28.0,
 21876.0: 149.0,
 21906.0: 99.0,
 21914.0: 149.0,
 21996.0: 199.0,
 22014.0: 149.0,
 21562.0: 229.0,
 21552.0: 149.0,
 21536.0: 229.0,
 20298.0: 99.0,
 20299.0: 180.5,
 20300.0: 58.0,
 20315.0: 299.0,
 21329.0: 149.0,
 21336.0: 199.0,
 21347.0: 248.0,
 21494.0: 149.0,
 21498.0: 149.0,
 21499.0: 149.0,
 21413.0: 149.0,
 21422.0: 98.0,
 21424.0: 399.0,
 21425.0: 398.0,
 21432.0: 499.0,
 21434.0: 28.0,
 21500.0: 398.0,
 21447.0: 149.0,
 21452.0: 199.33,
 21456.0: 149.0,
 21460.0: 169.0,
 21455.0: 199.0,
 21465.0: 28.0,
 21523.0: 499.0,
 155.0: 349.0,
 156.0: 349.0,
 257.0: 249.0,
 258.0: 249.0,
 372.0: 249.0,
 407.0: 249.0,
 410.0: 249.0,
 481.0: 330.0,
 482.0: 3000.0,
 484.0: 300.0,
 496.0: 4600.0,
 498.0: 249.0,
 534.0: 799.0,
 560.0: 199.0,
 154.0: 349.0,
 151.0: 249.0,
 98.0: 298.0,
 22015.0: 199.0,
 22079.0: 28.0,
 22016.0: 199.0,
 22111.0: 399.0,
 22130.0: 349.0,
 22134.0: 298.0,
 22139.0: 399.0,
 22151.0: 399.0,
 32.0: 149.0,
 33.0: 199.0,
 34.0: 149.0,
 45.0: 299.0,
 51.0: 299.0,
 49.0: 299.0,
 60.0: 249.0,
 85.0: 199.33,
 ...}

In [16]:
df_train

         shop_id  date_block_num  item_id  item_cnt_day
0              0               0       32           6.0
1              0               0       33           3.0
2              0               0       35           1.0
3              0               0       43           1.0
4              0               0       51           2.0
...          ...             ...      ...           ...
1609119       59              33    22087           6.0
1609120       59              33    22088           2.0
1609121       59              33    22091           1.0
1609122       59              33    22100           1.0
1609123       59              33    22102           1.0

[1609124 rows x 4 columns]

In [17]:
df_train['item_price'] = df_train['item_id'].apply(lambda x : price_map.get(x))

In [18]:
df_train

         shop_id  date_block_num  item_id  item_cnt_day  item_price
0              0               0       32           6.0       149.0
1              0               0       33           3.0       199.0
2              0               0       35           1.0       148.0
3              0               0       43           1.0        98.0
4              0               0       51           2.0       299.0
...          ...             ...      ...           ...         ...
1609119       59              33    22087           6.0       119.0
1609120       59              33    22088           2.0       119.0
1609121       59              33    22091           1.0       179.0
1609122       59              33    22100           1.0       629.0
1609123       59              33    22102           1.0      1250.0

[1609124 rows x 5 columns]

In [19]:
df_train[(df_train.shop_id == 0) & (df_train.item_id == 35)]

      shop_id  date_block_num  item_id  item_cnt_day  item_price
2           0               0       35           1.0       148.0
2389        0               1       35          14.0       148.0

In [20]:
df_train_final = df_train.groupby(['shop_id', 'item_id'], as_index=False)['item_cnt_day'].mean()
df_train_final

        shop_id  item_id  item_cnt_day
0             0       30     31.000000
1             0       31     11.000000
2             0       32      8.000000
3             0       33      3.000000
4             0       35      7.500000
...         ...      ...           ...
424119       59    22154      1.000000
424120       59    22155      1.000000
424121       59    22162      3.200000
424122       59    22164      1.500000
424123       59    22167      1.333333

[424124 rows x 3 columns]

In [21]:
# pd.get_dummies(df_train_final)

In [22]:
df_train_final['item_id'] = df_train_final['item_id'].astype(str)
df_train_final['shop_id'] = df_train_final['shop_id'].astype(str)

In [23]:
df_train_final['item_id'] = "item" + df_train_final['item_id'].astype(str)
df_train_final['shop_id'] = "shop" + df_train_final['shop_id'].astype(str)

In [24]:
df_train_final

       shop_id    item_id  item_cnt_day
0        shop0     item30     31.000000
1        shop0     item31     11.000000
2        shop0     item32      8.000000
3        shop0     item33      3.000000
4        shop0     item35      7.500000
...        ...        ...           ...
424119  shop59  item22154      1.000000
424120  shop59  item22155      1.000000
424121  shop59  item22162      3.200000
424122  shop59  item22164      1.500000
424123  shop59  item22167      1.333333

[424124 rows x 3 columns]

In [25]:
df_final = pd.get_dummies(df_train_final)

In [26]:
# Split the dataset

In [27]:
from sklearn.model_selection import train_test_split
x = df_final.drop('item_cnt_day', axis = 1)
y = df_final['item_cnt_day']

MemoryError: Unable to allocate 8.64 GiB for an array with shape (21867, 424124) and data type uint8

In [ ]:
# df_final

In [ ]:
# df_train_final

##